<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Resources.Settings.Presets" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileManager.Resources.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileManager.Resources.GeneralPage" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileManager.Resources.Settings.Presets>
            <setting name="SearchOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsSearchInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsSubdirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchOptionsFileContent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralCardCollapse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralCardCollapseMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralCardCollapseDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralCardCollapseRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralMoveSubdirectoryNameInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralMoveNameOfFileOrCountUps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRename" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameReplaceFrom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameReplaceTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameReplaceStartIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameReplaceLength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameReplaceIndexOrString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameSwapInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameSwapPartOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameSwapPartTwo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameInsertInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralRenameInsertCountUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavePresets" serializeAs="String">
                <value>False</value>
            </setting>
        </FileManager.Resources.Settings.Presets>
        <FileManager.Resources.Settings.Settings>
            <setting name="s" serializeAs="String">
                <value />
            </setting>
        </FileManager.Resources.Settings.Settings>
        <FileManager.Resources.GeneralPage>
            <setting name="CardExpanderMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardExpanderDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardExpanderRename" serializeAs="String">
                <value>False</value>
            </setting>
        </FileManager.Resources.GeneralPage>
    </userSettings>
</configuration>